
h1 {
  margin-left: 180px;
  margin-bottom: 0px;
}

.container {
  padding-top: 30px;
  display: flex;
}

.gameinfo {
  width: 300px;
  padding-left: 10px;
  padding-right: 10px;
}

.stuff {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

button {
  font-size: 1rem;
  background-color: white;
  border: 2px black solid;
}

.gameboard {
  width: 600px;
}
